.theme{
    background-color: #a52a2a;
    font-size: 1rem;
    color: #fff;
    padding: 10px 15px;
    margin: 10px;
    transition: color 0.3s ease;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
}

.theme:hover{
    opacity: 0.7;
    transform: scale(102%,102%);
}